# Torch (leave version open so it works on both CPU and CUDA)
torch>=2.0.0

# Huggingface Transformers
transformers>=4.36.0

# Data Processing
pandas>=2.0.0
numpy>=1.24.0
scikit-learn>=1.0.0

# Misc
tqdm>=4.64.0
joblib>=1.2.0

#pip install -r requirements.txt